In [ ]:
''' Q1. What is a database? Differentiate between SQL and NoSQL databases.  '''

Database is an organized collection of data and information so that it can be easily accessed & managed.

SQL have fixed or static or predefined schema and NOSQl have dynamic schema, SQL are not suited for hierarchical data storage and NOSQL are best 
suited for hierarchical data storage , SQL are best suited for complex queries and NOSQL are not so good for complex queries, SQL vertically Scalable
and NOSQL horizontally scalable, example of SQL database - MSSQL, Oracle, MySQL etc and example of NOSQL database - MongoDB, Cassendra etc.

In [ ]:
''' Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example. '''  

DDL stands for Data Definition Language. It is used to create and modify database schema and its object.
CREATE - Used to create a database or tabel or any kind of database object.
DROP - Used to delete/remove the database objects from the database.
ALTER - Used to change or modify the existing structure of the database and it also changes the schema of database objects.
TRUNCATE - Used to delete all the records from the table. It actually removes the allocated space.

CREATE DATABASE student; # Create database name student
CREATE TABLE student.student_info   # create table within the database and adding columns
(  
name VARCHAR(50), roll INT, dept VARCHAR(10)
) ; 
INSERT INTO student.student_info VALUES('Nirmala',18,'CSE')  ;  # insert data into table
DROP TABLE student_info;     # drop the table so the whole table will bw lost
CREATE DATABASE student1;    # creating another databse to perform further operation
CREATE TABLE student1.student_info   # create table within the database and adding columns
(  
name VARCHAR(50), roll INT, dept VARCHAR(10)
) ; 
ALTER Table student_info  DROP dept; #using alter to drop the column dept from the second table
DESC student1.student_info;
INSERT INTO student1.student_info VALUES('Nirmala',18)  ; # adding data
INSERT INTO student1.student_info VALUES('Riya',4)  ;   #adding data
SELECT * FROM student1.student_info;    # See the data of student_info table 
TRUNCATE TABLE student1.student_info;   #truncate used to delete all the record from that table
SELECT * FROM student1.student_info;    # After performing trancate operation we can see the records are deleted but the columns are there.

In [ ]:
'''  Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example. '''

DML stands for data manipulation language.DML used to change the data present in the SQL database. We can access, store, modify, update and 
delete the existing records from the database using DML commands.

CREATE DATABASE if not exists student3; # Create database name student
CREATE TABLE if not exists student3.student_info   # create table within the database and adding columns
(  
name VARCHAR(50), roll INT, dept VARCHAR(10)
) ; 
INSERT INTO student3.student_info VALUES('Nirmala',18,'CSE')  ; # insert data into student_info table 
INSERT INTO student3.student_info VALUES('Riya',66,'ME')  ;
INSERT INTO student3.student_info VALUES('Priya',34,'EE')  ;
UPDATE student_info SET roll = 20 WHERE name = 'Riya' ;  # Update the data of dept column from 'ME' to 'CSE' of student named 'Riya'
DELETE FROM student_info WHERE dept = 'EE';    # delete the row from the table where dept = 'EE' 
SELECT * from student3.student_info;

In [ ]:
''' Q4. What is DQL? Explain SELECT with an example.'''
DQL stands for data query language which is used to fetch the data from the database.

CREATE DATABASE if not exists student3; # Create database name student
CREATE TABLE if not exists student3.student_info   # create table within the database and adding columns
(  
name VARCHAR(50), roll INT, dept VARCHAR(10)
) ; 
INSERT INTO student3.student_info VALUES('Nirmala',18,'CSE')  ; # insert data into student_info table 
INSERT INTO student3.student_info VALUES('Riya',66,'ME')  ;
INSERT INTO student3.student_info VALUES('Priya',34,'EE')  ;
SELECT * from student3.student_info;   # This command used to fetch all the data from database 
SELECT name,dept from student3.student_info; # Here we are selecting columns name  that we want to fetch

In [ ]:
''' Q5. Explain Primary Key and Foreign Key.'''

primary key is an not null key that uniquely identifies every record in a table . The primary key column can not store duplicate values.
example - In student table the student_id is primary key in that table through which we can identify each student uniquely.

Other side  Foreign Key is used to build relation betwen tables means it is a common attritube that is present in both table which are 
building relation using it.The foreign key of a table is primary key of another table.
example - Employee table have primary key Emp_id which can be used as foreign key of Employee_increment_list table where we can identify 
those employee whose salary is incremented.

In [ ]:
''' Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method. '''
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE EMPLOYEE")
for i in mycursor.fetchall():
    print(i)

mydb.close()


cursor() method is used to create an object that helps to make the connection.
This method take a SQL query as a parameter and executes the given query.

In [ ]:
''' Q7. Give the order of execution of SQL clauses in an SQL query.'''

1.  FROM	-Tables are joined to get the base data.
2.	WHERE	-The base data is filtered.
3.	GROUP BY -The filtered base data is grouped.
4.	HAVING	-The grouped base data is filtered.
5.	SELECT	-The final data is returned.
6.	ORDER BY -The final data is sorted.
7.	LIMIT	-The returned data is limited to row count.