In [3]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
l = [4,8,15,16,23,42]
ser = pd.Series(l)
print(ser)
type(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

pandas.core.series.Series

In [4]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it

import pandas as pd
name = ['Nirmala','Priya','Sunita','Riya','Disha','Arindam','Bharat','Kuntal','Ayan','Jitu']
ser1 = pd.Series(name)
print(ser1)
type(ser)

0    Nirmala
1      Priya
2     Sunita
3       Riya
4      Disha
5    Arindam
6     Bharat
7     Kuntal
8       Ayan
9       Jitu
dtype: object

pandas.core.series.Series

In [5]:
#Q3. Create a Pandas DataFrame that contains the following data:

data = {
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female']
}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
#Q4.What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


'''A Dataframe is a collection of series that can be used to analyze the data.
pandas.Series can only contain a single list with an index, whereas Dataframe can be made of more than one series.
series gives data in a 1D format whereas dataframe present data in 2D format.'''

print("It is a pandas data series")
name = ['Nirmala','Priya','Sunita','Riya','Disha','Arindam','Bharat','Kuntal','Ayan','Jitu']
ser1 = pd.Series(name)
print(ser1)
type(ser)


print('__________________________________________________________________________________')


print("It is a pandas data Frame")
data = {
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female']
}
df = pd.DataFrame(data)
print(df)

It is a pandas data series
0    Nirmala
1      Priya
2     Sunita
3       Riya
4      Disha
5    Arindam
6     Bharat
7     Kuntal
8       Ayan
9       Jitu
dtype: object
__________________________________________________________________________________
It is a pandas data Frame
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [12]:
'''Q5.What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these 
functions? '''



''' Dropna , Fillna are some commaon function that can be some common function for manipulating pandas dataframe.'''

df2 = pd.read_csv("taxonomy.csv")
print(df2.head())
df2 = df2.dropna()
print('__________________________________________________________________________________________________________________________')
print(df2.head())

''' Here we use dropna to remove all the rows which have NaN value in its any column,we can also fill those NaN values with whatever we want. Follow
the followings '''

print("___________________________________________________________________________________________________________________________")
df3 = pd.read_csv("taxonomy.csv")
print(df3.head())
df2 = df3.fillna("Nirmala")
print('__________________________________________________________________________________________________________________________')
print(df2.head())


''' Here we replace all the NaN values with "Nirmala" '''

  taxonomy_id                     name parent_id     parent_name
0         101                Emergency       NaN             NaN
1      101-01        Disaster Response       101       Emergency
2      101-02           Emergency Cash       101       Emergency
3   101-02-01        Help Pay for Food    101-02  Emergency Cash
4   101-02-02  Help Pay for Healthcare    101-02  Emergency Cash
__________________________________________________________________________________________________________________________
  taxonomy_id                     name parent_id     parent_name
1      101-01        Disaster Response       101       Emergency
2      101-02           Emergency Cash       101       Emergency
3   101-02-01        Help Pay for Food    101-02  Emergency Cash
4   101-02-02  Help Pay for Healthcare    101-02  Emergency Cash
5   101-02-03     Help Pay for Housing    101-02  Emergency Cash
___________________________________________________________________________________________________________________________
  taxonomy_id                     name parent_id     parent_name
0         101                Emergency       NaN             NaN
1      101-01        Disaster Response       101       Emergency
2      101-02           Emergency Cash       101       Emergency
3   101-02-01        Help Pay for Food    101-02  Emergency Cash
4   101-02-02  Help Pay for Healthcare    101-02  Emergency Cash
__________________________________________________________________________________________________________________________
  taxonomy_id                     name parent_id     parent_name
0         101                Emergency   Nirmala         Nirmala
1      101-01        Disaster Response       101       Emergency
2      101-02           Emergency Cash       101       Emergency
3   101-02-01        Help Pay for Food    101-02  Emergency Cash
4   101-02-02  Help Pay for Healthcare    101-02  Emergency Cash

' Here we replace all the NaN values with "Nirmala" '

In [ ]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

''' In Pandas except Series all are Size- mutable , Series is not size-mutable. But all these three are value mutable including series also.'''

In [15]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

Name = ['Alice','Bob','Claire']
Age = [25,30,27]
Gender = ['Female','Male','Female']
ser2 = pd.Series(Name)
ser3 = pd.Series(Age)
ser4 = pd.Series(Gender)
data_frame = pd.DataFrame({'Name':Name,'Age':Age,'Gender':Gender})
print(data_frame)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female