In [68]:
import pandas as pd

In [69]:
#Q1. List any five functions of the pandas library with execution.
'''1.apply() 2.mean() 3.max() 4.iterrows() 5. cumsum()'''


data = {'a': [1,2,3,4],
        'b': [7,8,9,2],
        'c': ['Nil','Nilu','Nila','Nir']
        
}
df = pd.DataFrame(data)
print('Mean of row b: ' + str(df['b'].mean()) )

print('Max of row a: ' + str(df['b'].max()) )

n_df = df['a'].cumsum()
print(n_df)

df1 = df['a'].apply(lambda x: x**2)
print(df1)

for i in df.iteritems():
    print(i)
    
    
print(df)

Mean of row b: 6.5
Max of row a: 9
0     1
1     3
2     6
3    10
Name: a, dtype: int64
0     1
1     4
2     9
3    16
Name: a, dtype: int64
('a', 0    1
1    2
2    3
3    4
Name: a, dtype: int64)
('b', 0    7
1    8
2    9
3    2
Name: b, dtype: int64)
('c', 0     Nil
1    Nilu
2    Nila
3     Nir
Name: c, dtype: object)
   a  b     c
0  1  7   Nil
1  2  8  Nilu
2  3  9  Nila
3  4  2   Nir

/tmp/ipykernel_76/2583447794.py:21: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for i in df.iteritems():

In [70]:
'''Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.'''

def reindexing(df2):
    df2 = df2.reset_index(drop=True)
    df2.index = df2.index.map(lambda x: x * 2 + 1)
    return df2
    
    

data = {'A': [1,2,3,4],
        'B': [7,8,9,2],
        'C': ['Nil','Nilu','Nila','Nir']
        
}
df2 = pd.DataFrame(data)
df22 = reindexing(df2)
print(df22)

   A  B     C
1  1  7   Nil
3  2  8  Nilu
5  3  9  Nila
7  4  2   Nir

In [71]:
'''Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.'''

def Sum_of_three(df4):
    sum1 = sum(df3["Values"].iloc[:3])
    return sum1                
        
    
    

data1 = {"Values":[10, 20, 30, 40, 50]}

df3 = pd.DataFrame(data1)
ans = df3.apply(Sum_of_three)
print(ans)

Values    60
dtype: int64

In [72]:
"""Q4.Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column."""

df5 = pd.DataFrame({'Text':['Data Science Masters course is highly curated and uniquely designed according to the latest industry standards.',
               'This program instills students the skills essential to knowledge discovery efforts to identify standard, novel, and truly differentiated solutions and decision-making, including skills in managing, querying, analyzing, visualizing, and extracting meaning from extremely large data sets.',
              'My name is Nirmala Mondal.','I learn Datascience from PWSkills.'
              ]})
df5['Word_Count'] = df5['Text'].apply(lambda x : len(x.split()))
print(df5)

                                                Text  Word_Count
0  Data Science Masters course is highly curated ...          16
1  This program instills students the skills esse...          36
2                         My name is Nirmala Mondal.           5
3                 I learn Datascience from PWSkills.           5

In [73]:
#Q5. How are DataFrame.size() and DataFrame.shape() different?


'''DataFrame.size returns the total number of elements in the DataFrame including NaN or missing values, which is calculated by multiplying the number
of rows (DataFrame.shape[0]) by the number of columns (DataFrame.shape[1]).
Other side,
DataFrame.shape returns a tuple that represents the dimensions of the DataFrame, indicating the number of rows and columns in the DataFrame, respectively.
The shape of a DataFrame is given as (number_of_rows, number_of_columns).
'''


df6 = pd.DataFrame({'A': [1,2,3,4],
        'B': [7,8,9,2],
        'C': ['Nil','Nilu','Nila','Nir']
        
})
print("DataFrame Size : " ,df6.size)
print("DataFrame Shape : " , df6.shape)

DataFrame Size :  12
DataFrame Shape :  (4, 3)

In [74]:
#Q6. Which function of pandas do we use to read an excel file?

'''pandas.read_excel() is used to read excel file.'''

excel_file_read =pd.read_excel('sampledatawinterathletes.xlsx') 
print(excel_file_read)

    Unnamed: 0  Unnamed: 1                                         Unnamed: 2
0          NaN         NaN                                                NaN
1          NaN         NaN                                                NaN
2          NaN         NaN                                                NaN
3          NaN         NaN                                    Downloaded From
4          NaN         NaN                                  Excel Sample Data
5          NaN         NaN                      Sample Data - Winter Athletes
6          NaN         NaN                                                NaN
7          NaN         NaN                                  Related tutorials
8          NaN         NaN                               Create a Pivot Table
9          NaN         NaN                      Pivot Table Summary Functions
10         NaN         NaN                                                NaN
11         NaN         NaN                                              Notes
12         NaN         1.0  Athletes: data from Vancouver 2010 Winter Game...
13         NaN         2.0            There are 4 athletes with 2 sports each
14         NaN         NaN  You could separate those onto 8 lines, instead...
15         NaN         NaN  To see them, sort or filter the Sport column b...

In [75]:
'''Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.'''

df7 = pd.DataFrame({'Email':['nirmala@gmail.com','nirmalamondal@gmail.com','nirmalamondal2002@gmail.com']})
df7['Username'] = df7['Email'].str.split('@').str.get(0)
print(df7)

                         Email           Username
0            nirmala@gmail.com            nirmala
1      nirmalamondal@gmail.com      nirmalamondal
2  nirmalamondal2002@gmail.com  nirmalamondal2002

In [76]:
'''Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: 
  A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.'''

def filter_out_data(df8):
    n_df8 = df8[(df8['A']>5) & (df8['B']<10)]
    return n_df8        
            

df8 = pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
new_df8 = filter_out_data(df8)

print(new_df8)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [77]:
'''Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.'''


df9 = pd.DataFrame({"Values":[10, 20, 30, 40, 50]})
print(df9['Values'].mean())
print(df9['Values'].median())
print(df9['Values'].std())

30.0
30.0
15.811388300841896

In [78]:
'''Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.'''

date = pd.date_range(start = '2023-06-01',end = '2023-06-17')
df10 = pd.DataFrame({'Sales':[10,23,20,12,15,23,17,23,17,23,30,25,23,20,25,30,35],'Date':date})
df10['MovingAverage'] = df10['Sales'].rolling(window = 7).mean()
print(df10)

    Sales       Date  MovingAverage
0      10 2023-06-01            NaN
1      23 2023-06-02            NaN
2      20 2023-06-03            NaN
3      12 2023-06-04            NaN
4      15 2023-06-05            NaN
5      23 2023-06-06            NaN
6      17 2023-06-07      17.142857
7      23 2023-06-08      19.000000
8      17 2023-06-09      18.142857
9      23 2023-06-10      18.571429
10     30 2023-06-11      21.142857
11     25 2023-06-12      22.571429
12     23 2023-06-13      22.571429
13     20 2023-06-14      23.000000
14     25 2023-06-15      23.285714
15     30 2023-06-16      25.142857
16     35 2023-06-17      26.857143

In [83]:
'''Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.'''

date1 = pd.date_range(start = '2023-01-01',end = '2023-01-05')
df11 = pd.DataFrame({'Date':date1})
df11['Weekday'] = df11['Date'].dt.day_name()
print(df11)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [87]:
'''Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.'''


df12 = pd.DataFrame({'Date': ['2023-02-06','2023-01-05','2023-01-23','2023-09-12','2023-01-31','2023-01-20','2023-02-01','2023-01-24']})
df12['filter_Date'] = pd.to_datetime(df12['Date'])
n_df12 = df12[(df12['filter_Date'] > '2023-01-01') & (df12['filter_Date'] < '2023-01-31')]
print(n_df12)

         Date filter_Date
1  2023-01-05  2023-01-05
2  2023-01-23  2023-01-23
5  2023-01-20  2023-01-20
7  2023-01-24  2023-01-24

In [ ]:
#Q13.To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?


''' To use the basic functions of pandas, "pandas" is the first and foremost necessary library that needs to
be imported. Without panda library we can not use any function of pandas.'''